.container-dashboard {
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.icon-logout {
  background: rgba(255, 255, 255, 0.25);
  padding: 7px;
  border-radius: 8px;
  margin: 7px;
  float: right;
}
.icon-logout:hover {
  cursor: pointer;
}

img.img-pdf {
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
}
img.img-pdf:hover {
  filter: brightness(80%);
}
p {
  max-width: 600px;
}

.wrap-cards {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
}

.wrap-pdf {
  box-sizing: border-box;
  max-width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

p.sub {
  margin-top: -10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.859);
  margin-top: -16px;
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.25);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 12px;
}

@media screen and (max-width: 400px) {
  .container-dashboard {
    padding: 5px;
  }
  footer{
    font-size: 10px;
  }
}
