.container-dashboard {
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.wrap-head {
  display: flex;
  justify-content: space-between;
}
.icon-logout:hover {
  cursor: pointer;
}

img.img-pdf {
  box-sizing: border-box;
  width: 100%;
  transition: .3s;
}
img.img-pdf:hover{
filter: brightness(80%);
}
p {
  max-width: 600px;
}

.wrap-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.wrap-pdf {
  box-sizing:border-box;
  max-width: 334px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 5px;
}

/*  */
.wrap-pdf-empty {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.12);
  gap: 5px;
}

.img-empty {
  height: 180px;
  width: 100%;
  background-color: rgba(225, 225, 225, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.25);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 12px;
}

@media screen and (max-width:400px){
  .container-dashboard{
    padding: 5px;
  }
}