.modalBg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  animation: zoom-out 0.3s ease-in-out;
}

@keyframes zoom-out {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.modalCont {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.894);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.title h3 {
  color: black;
  text-align: center;
}
.body p {
  color: black;
  text-align: center;
}

.footer-btn {
  display: flex;
  justify-content: space-around;
}
.btn-cancel {
  background-color: rgba(251, 50, 50, 0.88);
  padding: 3px 7px;
  border-radius: 6px;
  color: white;
}

.btn-logout {
  background-color: rgba(0, 167, 11, 0.883);
  padding: 3px 7px;
  border-radius: 6px;
  color: white;
}
